$button-color: rgb(24, 197, 118);
$total-white: rgb(255, 255, 255);
$color-text-card-description: rgb(68, 68, 68);
$background-main-two: rgb(242, 242, 242);
$background-main-one: rgb(245, 245, 245);
$Inter: 'Inter', sans-serif;
$background-main-modal: rgba(0, 0, 0, 0.25);
$border-input: rgb(230, 230, 230);
$font-color-modal: rgb(68, 68, 68);
$border-color-error: rgb(248, 116, 116);
$font-color-error: rgb(228, 75, 75);

$mobile-breakpoint: 360px;
$tablet-breakpoint: 1024px;